@model ClinicaVeterinaria.Models.Vendite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProdottoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProdottoNavigation.IdProdotto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtenteNavigation.IdUtente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdricettaMedicaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdricettaMedicaNavigation.IdricettaMedica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVendita">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
