@model IEnumerable<ClinicaVeterinaria.Models.Vendite>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Vendite</h1>
    <p class="mb-0">
        <a class="btn btn-success" asp-action="Create">Aggiungi Vendita</a>
    </p>
</div>

<table class="table text-center table-hover border border-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProdottoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtenteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdricettaMedicaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdottoNavigation.IdProdotto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtenteNavigation.IdUtente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdricettaMedicaNavigation.IdricettaMedica)
            </td>
            <td>
                <a class="btn btn-success me-2" asp-action="Edit" asp-route-id="@item.IdVendita">Modifica</a>
                <a class="btn btn-outline-success me-2" asp-action="Details" asp-route-id="@item.IdVendita">Dettagli</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdVendita">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
