@model ClinicaVeterinaria.Models.Visite

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-3">Dettagli Visita</h1>

<div class="card mb-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Data Visita:</dt>
            <dd class="col-sm-8">@Model.DataVisita.ToShortDateString()</dd>

            <dt class="col-sm-4">Anamnesi:</dt>
            <dd class="col-sm-8">@Model.Anamnesi</dd>

            <dt class="col-sm-4">Descrizione Cura:</dt>
            <dd class="col-sm-8">@Model.DescrizioneCura</dd>

            <dt class="col-sm-4">Animale:</dt>
            <dd class="col-sm-8">@Model.IdAnimaleNavigation.NomeAnimale</dd> <!-- Assicurati che la proprietà si chiami 'NomeAnimale' -->

            <dt class="col-sm-4">Prezzo Visita:</dt>
            <dd class="col-sm-8">@Model.PrezzoVisita</dd>

            @if (Model.IdRicettaNavigation.IdricettaMedica != null)
            {
                <dt class="col-sm-4">Ricetta Medica:</dt>
                <dd class="col-sm-8">@Model.IdRicettaNavigation.Descrizione</dd>

                <dt class="col-sm-4">Prodotti Prescritti:</dt>
                <dd class="col-sm-8">
                    <ul>
                        @foreach (var prodotto in Model.IdRicettaNavigation.IdProdottos)
                        {
                            <li>@prodotto.Nomeprodotto (Quantità: @prodotto.Prezzo)</li> <!-- Sostituisci 'NomeProdotto' e 'Quantità' con i nomi reali delle proprietà -->
                        }
                    </ul>
                </dd>
            }
        </dl>
    </div>
</div>

<div>
    <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@Model.IdVisita">Modifica</a>
    <a class="btn btn-secondary" asp-action="Index">Lista Visite</a>
</div>
