@model IEnumerable<ClinicaVeterinaria.Models.Visite>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Lista Visite</h1>
    <p class="mb-0">
        <a class ="btn btn-info me-2" asp-action="Create">Aggiungi Visita</a>
    </p>
</div>

<table class="table text-center table-hover border border-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataVisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnesi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescrizioneCura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAnimaleNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRicettaNavigation.IdricettaMedica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrezzoVisita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataVisita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anamnesi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescrizioneCura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimaleNavigation.Idanimale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRicettaNavigation.IdricettaMedica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrezzoVisita)
            </td>
            <td>
                <a class="btn btn-info me-2" asp-action="Edit" asp-route-id="@item.IdVisita">Modifica</a>
                <a class="btn btn-outline-info me-2" asp-action="Details" asp-route-id="@item.IdVisita">Dettagli</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdVisita">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
