@model IEnumerable<ClinicaVeterinaria.Models.Dittafornitrice>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Ditte Fornitrici</h1>
    <p class="mb-0">
        <a class="btn btn-success" asp-action="Create">Aggiungi ditta</a>
    </p>
</div>

<table class="table text-center table-hover border border-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDitta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecapitoDitta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDitta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecapitoDitta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdDittaFornitrice">Modifica</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdDittaFornitrice">Dettagli</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdDittaFornitrice">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
