@using System.Security.Claims

@{
    var userName = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
    var userId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClinicaVeterinaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClinicaVeterinaria.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    @RenderSection("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 @ViewBag.NavFoot @ViewBag.Text">
            <div class="container-fluid">
                <a class="navbar-brand @ViewBag.Text" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-prescription2"></i> Clinica Veterinaria
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Link per utenti non autenticati -->
                        <li class="nav-item">
                            <a class="navlink @ViewBag.Text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Dropdown Prodotti visibile a tutti gli utenti loggati -->
                            <li class="nav-item dropdown @ViewBag.Text">
                                <a class="navlink dropdown-toggle @ViewBag.Text" href="#" id="navbarDropdownProdotti" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Prodotti
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownProdotti">
                                    <li><a class="dropdown-item" asp-controller="Prodotti" asp-action="Index">Lista Prodotti</a></li>
                                    <!-- Altri link per Prodotti possono essere aggiunti qui -->
                                </ul>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <!-- Dropdown Visite per Veterinario -->
                                <li class="nav-item dropdown">
                                    <a class="navlink dropdown-toggle @ViewBag.Text" href="#" id="navbarDropdownVisite" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Visite
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownVisite">
                                        <li><a class="dropdown-item" asp-controller="Visite" asp-action="Create">Crea Visita</a></li>
                                        <li><a class="dropdown-item" asp-controller="Visite" asp-action="Index">Lista Visite</a></li>
                                    </ul>
                                </li>
                                <!-- Dropdown Farmacia per Farmacista -->
                                <li class="nav-item dropdown">
                                    <a class="navlink dropdown-toggle @ViewBag.Text" href="#" id="navbarDropdownVisite" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Farmacia
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                                        <li><a class="dropdown-item" asp-controller="Prodotti" asp-action="Create">Aggiungi Prodotto</a></li>
                                        <li><a class="dropdown-item" asp-controller="ProdottiInCassettoes" asp-action="Create">Smistamento</a></li>
                                        <li><a class="dropdown-item" asp-controller="ProdottiInCassettoes" asp-action="Index">Archivio Farmaci</a></li>
                                    </ul>
                                </li>
                                <!-- Dropdown Amministrazione per Admin -->
                                <li class="nav-item dropdown">
                                    <a class="navlink dropdown-toggle @ViewBag.Text" href="#" id="navbarDropdownAmministrazione" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Amministrazione
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAmministrazione">
                                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="BackOffice">Back Office</a></li>
                                        <li><a class="dropdown-item" asp-controller="Dittafornitrice" asp-action="Index">Ditte Fornitrici</a></li>
                                        <li><a class="dropdown-item" asp-controller="Ricoveri" asp-action="Index">Ricoveri</a></li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Veterinario"))
                                {
                                    <!-- Dropdown Visite per Veterinario -->
                                    <li class="nav-item dropdown">
                                        <a class="navlink dropdown-toggle @ViewBag.Text" href="#" id="navbarDropdownVisite" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Visite
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownVisite">
                                            <li><a class="dropdown-item" asp-controller="Visite" asp-action="Create">Crea Visita</a></li>
                                            <li><a class="dropdown-item" asp-controller="Visite" asp-action="Index">Lista Visite</a></li>
                                        </ul>
                                    </li>
                             } 
                                @if (User.IsInRole("Farmacista"))
                                {
                                    <li class="nav-item dropdown">
                                    <a class="navlink dropdown-toggle @ViewBag.Text" href="#" id="navbarDropdownFarmacista" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Farmacia
                                        </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownFarmacista">
                                            <li><a class="dropdown-item" asp-controller="Prodotti" asp-action="Create">Aggiungi Prodotto</a></li>
                                            <li><a class="dropdown-item" asp-controller="ProdottiInCassettoes" asp-action="Create">Smistamento</a></li>
                                            <li><a class="dropdown-item" asp-controller="ProdottiInCassettoes" asp-action="Index">Archivio Farmaci</a></li>
                                        </ul>
                                    </li>
                                }
                            <li class="nav-item ms-auto">
                                <a class="navlink text-light" asp-action="Index" asp-controller="Carrello">Carrello</a>
                            </li>

                            <!-- Link Benvenuto e Log-Out -->
                            <li class="nav-item dropdown ms-auto">
                                <a class="navlink dropdown-toggle @ViewBag.Text" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="@(!User.IsInRole("Admin") ? "fw-bold @ViewBag.Text" : "fw-bold text-white")">
                                        Benvenuto, @userName @(!User.IsInRole("Admin") ? "(utente)" : "(ADMIN)")
                                    </span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                                    <li><a class="dropdown-item" asp-controller="Utenti" asp-action="Details" asp-route-id=@userId>Profilo</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-danger" asp-controller="Login" asp-action="LogOut">Log-Out</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <!-- Link per utenti non autenticati -->
                            if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value == null)
                            {
                            <li class="nav-item ms-auto">
                                <a class="navlink @ViewBag.Text" asp-action="Index" asp-controller="Login">Accedi</a>
                            </li>
                            <li class="nav-item">
                                    <a class="navlink @ViewBag.Text" asp-action="Registrazione" asp-controller="Login">Registrati</a>
                            </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted @ViewBag.NavFoot @ViewBag.Text">
        <div class="container @ViewBag.Text">
            &copy; 2024 - Clinica Veterinaria - <a class="text-decoration-none @ViewBag.Text" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @RenderSection("Scripts", required: false)
</body>
</html>

