@model ClinicaVeterinaria.Models.Prodotti

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli</h1>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Html.DisplayFor(model => model.Nomeprodotto)</h4>
        <hr />
        <div class=" container justify-content-between row">
            <div class="col-sm-5 ">
                <img src="URL_immagine_di_default" alt="Alternate Text"  />
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-5"><strong>@Html.DisplayNameFor(model => model.Nomeprodotto)</strong></div>
                    <div class="col-sm-5">@Html.DisplayFor(model => model.Nomeprodotto)</div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><strong>@Html.DisplayNameFor(model => model.Prezzo)</strong></div>
                    <div class="col-sm-5">@Html.DisplayFor(model => model.Prezzo)</div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><strong>@Html.DisplayNameFor(model => model.IsMedicinale)</strong></div>
                    <div class="col-sm-5">@Html.DisplayFor(model => model.IsMedicinale)</div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><strong>@Html.DisplayNameFor(model => model.PossibiliUsi)</strong></div>
                    <div class="col-sm-5">@Html.DisplayFor(model => model.PossibiliUsi)</div>
                </div>
                <div class="row">
                    <div class="col-sm-5"><strong>@Html.DisplayNameFor(model => model.IdDittaFornitriceNavigation)</strong></div>
                    <div class="col-sm-5">@Html.DisplayFor(model => model.IdDittaFornitriceNavigation.NomeDitta)</div>
                </div>
              </div>
        </div>
        
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.IdProdotto" class="btn btn-primary">Modifica</a>
    <a asp-action="Index" class="btn btn-secondary">Torna alla lista</a>
</div>
