@model IEnumerable<ClinicaVeterinaria.Models.Prodotti>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomeprodotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMedicinale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PossibiliUsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDittaFornitriceNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomeprodotto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMedicinale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossibiliUsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDittaFornitriceNavigation.IdDittaFornitrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProdotto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProdotto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProdotto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
