@model IEnumerable<ClinicaVeterinaria.Models.Prodotti>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Prodotti</h1>
    <p class="mb-0">
        <a class="btn btn-success" asp-action="Create">Aggiungi Prodotto</a>
    </p>
</div>

<table class="table text-center table-hover border border-1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomeprodotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMedicinale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PossibiliUsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDittaFornitriceNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomeprodotto)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezzo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMedicinale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossibiliUsi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDittaFornitriceNavigation.NomeDitta)
            </td>
            <td>
                <a class="btn btn-success me-2" asp-action="Edit" asp-route-id="@item.IdProdotto">Modifica</a>
                <a class="btn btn-outline-success me-2" asp-action="Details" asp-route-id="@item.IdProdotto">Dettagli</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdProdotto">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
