@model IEnumerable<ClinicaVeterinaria.Models.Prodotti>

@{
    ViewData["Title"] = "Index";
}

<h1>Prodotti</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Prodotti" asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="prodotto" class="form-control" placeholder="Cerca per Nome Prodotto">
        <button type="submit" class="btn btn-primary">Cerca</button>
    </div>
</form>
<div class="row mb-3">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Nomeprodotto</h5>
                    <p class="card-text">Prezzo: @item.Prezzo</p>
                    <p class="card-text">Medicinale: @item.IsMedicinale</p>
                  @*   <p class="card-text">Possibili Usi: @item.PossibiliUsi</p>
                    <p class="card-text">Fornitore: @item.IdDittaFornitriceNavigation.NomeDitta</p> *@
                    <a href="@Url.Action("Edit", new { id = item.IdProdotto })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Details", new { id = item.IdProdotto })" class="btn btn-secondary">Details</a>
                    <a href="@Url.Action("Delete", new { id = item.IdProdotto })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
