@model ClinicaVeterinaria.Models.Ricettemediche

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ricettemediche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrescrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrescrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtenteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtenteNavigation.IdUtente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVisitaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVisitaNavigation.IdVisita)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdricettaMedica">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
