@model IEnumerable<ClinicaVeterinaria.Models.Ricettemediche>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Ricette Mediche</h1>
    <p class="mb-0">
        <a class="btn btn-success" asp-action="Create">Aggiungi Ricetta Medica</a>
    </p>
</div>

<table class="table text-center table-hover border border-1">
    <thead>
        <tr>
            <th>Data Prescrizione</th>
            <th>Descrizione</th>
            <th>Utente</th>
            <th>Visita</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ricetta in Model)
        {
            <tr>
                <td>@ricetta.DataPrescrizione</td>
                <td>@ricetta.Descrizione</td>
                <td>@ricetta.IdUtenteNavigation.Nome</td>
                <td>@ricetta.IdVisitaNavigation.DataVisita</td>
                <td>
                    <a class="btn btn-success me-2" asp-action="Details" asp-route-id="@ricetta.IdricettaMedica">Dettagli</a>
                    <a class="btn btn-outline-success me-2" asp-action="Edit" asp-route-id="@ricetta.IdricettaMedica">Modifica</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@ricetta.IdricettaMedica">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
